/* Global */

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #fff;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Mono', monospace;
  z-index: 1;
}

button {
  font-family: 'IBM Plex Mono', monospace;
  z-index: 1;
}

/* Hero  */

#hero-section {
  height: 100vh;
  background: #000;
    overflow-x: hidden; 
}

#info {
  height: 100%;
}

#logo {
  height: 100px;
  position: absolute;
}


/* Projects */

#projects-section {
  background: white;
  color: black;
}

.project-block {
  position: relative;
}

#projects-section img {
  display: block;
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.project-block .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 200px;
  margin: 0 auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.project-block:hover .overlay {
  opacity: 1;
}

.project-text {
  color: white;
  font-size: 20px;
}

#projects-section-1, #projects-section-2 {
  display: none;
}

#projects-section-1.active {
  display: flex;
}


/* About */

#about-section {
  background: #F8F8F8;
  color: black;
}

#about-section {
  background: #F8F8F8;
  color: black;
}

#about-image {
  width: 450px;
  margin: 0 auto;
}

/* Contact */

#contact-section {
  background: #2A4747;
  color: white;
}


#contact-section svg {
height: 75px;  
fill: white;
}

#contact-section p{
  color: white;
  }

  /* Footer */

footer {
  background: #2A4747;
}